body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}
.row {
  width:90%;
  float: right;
}
.column {
  float: left;
  width: 40%;
  padding: 20px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  width:90%;
  color:aliceblue;
}

.container {
  text-align: -webkit-center;
}